DEBUG=True
SECRET_KEY = 'django-insecure-7^-^k(y(bla#^s2(657^lm)@w!5l8(0$vo_=a@wh)hil9dr+k#'
DATABASE_URL=postgresql://postgres:145667532@localhost:5432/aclcxp_db
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000