@import "tailwindcss";

/* ⇓ custom styles ⇓ */

@font-face {
  font-family: "Xirod";
  src: url("/fonts/Xirod.otf") format("opentype");
}

@font-face {
  font-family: "ArcadeClassic";
  src: url("/fonts/ArcadeClassic.TTF") format("truetype");
}

.font-xirod {
  font-family: "Xirod", sans-serif;
}

.font-arcade {
  font-family: "ArcadeClassic", sans-serif;
}

/* Heading tags use League Spartan */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Xirod', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
